@import "./better-defaults";
@import "./typography";

$color-bleak-blue: #8eb4d8; // accent for paragraph-like items
$color-brighter-bleak-blue: #a2c8e9; // paragraph text
$color-bright-blue: #00c0ff; // link arrow icon
$color-pale-green: #006080; // link arrow icon visited
$color-dark: #041421; // page background color
$color-darkish-green: #051c30; // header background color
$color-bright-white: #dff0ff; // link text default state
$color-nearly-white: #f4effa; // most big headings
$color-orange: #ffc000; // external link type 1 icon and active state
$color-pink: #fb00fc; // external link type 2 icon
$color-pale-pink: #e8dbf4; // small headings
$color-purple: #8484ff; // link type 2 active state

html {
  background-color: $color-dark;
  color: $color-brighter-bleak-blue;
  font-family: Nunito, sans-serif;
}

a {
  text-decoration: none;
  color: $color-bright-white;
  font-weight: bold;
  display: block;
  &:visited {
    color: $color-purple;
  }
  &:hover {
    color: $color-orange;
  }
}

hr {
  border: 1px solid $color-brighter-bleak-blue;
}

.header {
  background-color: $color-darkish-green;
  padding: 1em 0;
  margin-bottom: 1em;
  a.header-homepage-link {
    color: $color-bleak-blue;
    font-size: 1.3em;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.set-global-width {
  @media (max-width: 669px) {
    padding: 0 15px;
  }
  max-width: 700px;
  margin: 0 auto;
}

.blogroll {
  padding-bottom: 3em;
  &-link {
    display: flex;
    line-height: 1;
    &:not(:first-of-type) {
      margin-top: 10px;
    }
    &-date {
      padding-right: 5px;
      white-space: nowrap;
      color: $color-nearly-white;
    }
    &-time {
      opacity: 0.85;
      font-size: 80%;
      font-weight: normal;
      white-space: nowrap;
    }
  }
}

.blog-post {
  padding-bottom: 1em;
  a::before {
    content: url(../images/arrow.png);
    // filter: invert(51%) sepia(96%) saturate(1212%) hue-rotate(156deg) brightness(99%) contrast(105%);
    padding-right: 7px;
  }
  time {
    font-style: italic;
    color: $color-bleak-blue;
  }
  &-title {
    font-size: 2em;
    margin-top: 0 !important;
  }
  &-prevnext {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
    div + div {
      text-align: right;
    }
  }
  &-content {
    p {
      @media (min-width: 700px) {
        padding-left: 20px;
      }
    }
    blockquote {
      border: 1px solid $color-bleak-blue;
      border-radius: 5px;
      background-color: $color-darkish-green;
      color: $color-bleak-blue;
      p {
        font-family: Iosevka, monospace;
        margin: 0;
        padding: 10px 20px;
        @media (max-width: 669px) {
          padding: 10px;
        }
      }
    }
    pre {
      padding: 15px;
      border: 1px solid $color-bleak-blue;
      border-radius: 5px;
      background-color: $color-darkish-green;
      color: $color-bleak-blue;
      white-space: pre-wrap;
      @media (min-width: 700px) {
        margin-left: 20px;
      }
      code {
        font-family: Iosevka, monospace;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0;
    color: $color-nearly-white;
    font-family: Literata, serif;
  }
  p {
    margin: 1em 0;
  }
}
